$bgcolor: #39373c

.wrapper
    background-image: url("img/dogheader.jpg")
    background-color: $bgcolor
    min-width: 100%
    min-height: 100vh
    background-size: contain
    background-position: center
    overflow: hidden
    background-repeat: no-repeat
    
